
/************** BODY ***************/

* {
    font-family: "Times New Roman", Georgia, Serif;
}

p {
    font-size: 16px;
}

body {
    background-image: url(../img/goldfield-min.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 18%;
}

.wrapper {
    margin: 0 4% 0 1% !important;
}

.header {
    height: 0;
}

.logo {
    display: inline-block;
    width: 15%;
    margin: 2%;
}   

/************** NAV ***************/
#menu {
    width: 60px;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100vh;
    background-color: rgba(233, 147, 42, .9);
    color: #FFFFFF;
    z-index: 3;
    box-shadow: 0 -20px 60px rgba(7,5,9,.5);
	-webkit-transition: all 350ms ease-in;
    transition: all 350ms ease-in;
}
#menu.open {
	width: 180px;
	-webkit-transition: all 350ms ease-in;
    transition: all 350ms ease-in;
}
.nav {
    padding: 100px 60px;
}
#menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
#menu ul li a{
	color: #FFF;
	font-size: 18px;
	font-weight: bold;
	white-space: nowrap;
}

#burger {
    position: fixed;
    right: 17px;
    top: 17px;
    z-index: 9999;
    width: 28px;
    height: 28px;
    cursor: pointer;
    -webkit-transition: all 350ms ease-in;
    transition: all 350ms ease-in;
}
#burger1,
#burger2,
#burger3 {
    width: 24px;
    height: 4px;
    background-color: #FFFFFF;
    position: absolute;
    opacity:1;
    -webkit-transition: all 350ms ease-in;
    transition: all 350ms ease-in;
}
#burger2 {
    top: 8px;
}
#burger3 {
    top: 16px;
}
#menu.open #burger1 {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-transition: all 350ms ease-in;
    transition: all 350ms ease-in;
}
#menu.open #burger2 {
    height: 0;
    width:0;
    opacity:0;
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transition: all 350ms ease-in;
    transition: all 350ms ease-in;
}
#menu.open #burger3 {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
    -webkit-transition: all 350ms ease-in;
    transition: all 350ms ease-in;
}
.current-menu-item a {
    text-decoration: underline;
}

#footer {
	display: none;
    -webkit-transition: all 350ms ease-in;
    transition: all 350ms ease-in;
}

#menu.open #footer {
	display: inline-block;
    -webkit-transition: all 350ms ease-in;
    transition: all 350ms ease-in;
    position: fixed;
    bottom: 0;
    text-align: center;
    margin-bottom: 10px;
    padding: 0 5px;
    width: inherit;
}

#menu.open #footer p {
	font-size: 14px;
}

#menu.open #footer a {
	color: #fff;
}


/************** Home Page Template ***************/

.content-box {
    width: 75%;
    margin: 10% auto;
    background-color: rgba(256,256,256,.8);
    padding: 20px 40px;
    overflow: hidden;
}

/*#chanah-main-pic {
    display: block;
    margin-top: 40px;
    margin-bottom: 40px;
}*/

.main-pic {
    /*display: block;*/
    margin-top: 40px !important;
    margin-bottom: 40px !important;
}

/*#chanah-main-pic-mobile {
    display: none;
    margin-top: 30px;
    margin-bottom: 30px;
}*/

.mobile-pic {
    display: none !important;
    margin-top: 30px !important;
    margin-bottom: 30px !important;
}

/************** Page Template ***************/

#page-title {
    font-size: 30px;
    text-align: center;
    font-weight: 600;
}

#page-header-name {
    text-align: center;
    margin: 20px 0;
}

#page-header-name h1, #page-header-name h1 strong {
    font-family: Georgia, Serif;
    font-size: 18px !important;
}

#page-header-name a:hover {
    text-decoration: none;
}

/**************** MEDIA QUERIES *****************/

@media screen and (max-width: 768px){

    body {
        padding: 50px 0;
    }

    #menu.open{
        width:100%;
        background-color: rgb(233, 147, 42);
    }

}

@media screen and (max-width: 735px){

    #menu {
        background-color: transparent;
        box-shadow: none;
    }
    #menu ul li a {
        font-size: 24px;
        line-height: 2;
    }

    .content-box {
        width: 90%;
        padding: 20px;
        margin: 30px 7%;
    }

    /*#chanah-main-pic {
        display: none;
    }*/

    .main-pic {
        display: none !important;
    }

    /*#chanah-main-pic-mobile {
        display: block;
    }*/

    .mobile-pic {
        display: block !important;
    }

}










